.log{
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(17,182,94,1) 100%, rgba(76,108,54,1) 100%);
    background-size: cover;
    }
    .loginForm{
       width: 500px; 
       background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(17,182,94,1) 100%, rgba(76,108,54,1) 100%);
    }
    .sub-Btn:hover{
      background: rgba(2, 27, 14, 0.3) !important;
      color: #fff;
    }
    .spinner-border:hover{
      color: white !important;
    }