.job{
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(17,182,94,1) 100%, rgba(76,108,54,1) 100%);
    background-size: cover;
}
.jobForm{
background: rgba(236, 204, 204, 0.4) !important;
}
